<h8k-navbar header="User Lists"></h8k-navbar>
  <div class="layout-row align-items-center justify-content-center mb-50">
    <data-form
      (onItemAdded)="onItemAdded($event)"
      (onSettledUp)="onSettledUp()"
    >
    </data-form>
  </div>
  <div class="layout-row justify-content-center">
    <div class="layout-column item-list">
        <h3>Expenses</h3>
        <data-list [dataList]="expenses" (onItemDelete)="onItemDelete($event)"></data-list>
    </div>

    <div class="layout-column item-list">
        <h3>Payouts Response</h3>
        <textarea data-cy="payouts-response" style="font-size: 14px;" rows="20" [(ngModel)]="payouts"></textarea>
    </div>
  </div>
